.language {
    display: block;
    border-radius: 5px;
    border: 1px solid var(--post-border);
    padding: 15px 20px;
    margin-bottom: 20px;
    text-decoration: none;
    transition: 0.5s;
}

.language:hover {
    border: 1px solid var(--post-border-hover);
    transition: 0.5s;
}

.language>.header {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
    display: flex;
}

.language>.bar {
    width: 100%;
    height: 8px;
    overflow: hidden;
    border-radius: 4px;
    background-color: var(--progress-bar-background);
}

.bar>div {
    height: 100%;
    border-radius: 4px;
    background-color: var(--post-border-hover);
}